@charset "UTF-8";
:root {
  --primary-font-family: "Roboto", sans-serif;
  --logo-header-text-color: black;
  --logo-footer-text-color: white;
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --footer-bg-color: rgba(47, 48, 58, 1);
  --button-text-color: rgba(255, 255, 255, 1);
  --button-bg-color: rgba(33, 150, 243, 1);
  --button-bg-hover-color: rgba(24, 140, 232, 1);
  --button-filter-text-color: rgba(33, 33, 33, 1);
  --button-filter-bgc-color: rgba(245, 244, 250, 1);
  --section-bg-color: rgba(245, 244, 250, 1);
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --card-border-color: rgba(238, 238, 238, 1);
}

.card-set__filter, .modal-check__icon-cover, .modal-check__text, .client-link, .work-list .work-type, .item-icon, .main-header, .button-modal, .button-close, .subscribe-button, .social-links__link, .hero-content__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Для скрытия */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Для всех параграфов */
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}

/* Для всех ссылок */
.link {
  text-decoration: none;
}

/* Для всех списков */
.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Глобальный контейнер */
.container {
  /* outline: 1px solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Кнопка */
.hero-content__button {
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  text-align: center;
  border-style: none;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content__button:hover, .hero-content__button:focus {
  color: var(--button-text-color);
  background-color: var(--button-bg-hover-color);
}

/* Логотип */
.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--color-light {
  color: var(--logo-footer-text-color);
}

.logo--color-dark {
  color: var(--logo-header-text-color);
}

.logo--font {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.pre_logo {
  color: var(--accent-color);
}

/* Section */
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
}

.team-card__item {
  padding: 30px 32px;
  text-align: center;
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.social__join {
  margin-left: 70px;
}

.social-links__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.social-links__list {
  display: flex;
}

.social-links__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links__link:hover, .social-links__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.social-links__icon {
  fill: currentColor;
}

.social-links__item--fill-light {
  color: rgb(175, 177, 184);
}

.social-links__item--fill-dark {
  color: var(--logo-footer-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.subscribe-button {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .subscribe-button:focus {
  color: var(--button-text-color);
  background-color: var(--button-bg-hover-color);
}
.subscribe-button-icon {
  margin-left: 10px;
  fill: var(--button-text-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: #fff;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.button-modal {
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover {
  color: var(--button-text-color);
  background-color: var(--button-bg-hover-color);
}

.button__filter {
  padding: 0;
  background-color: var(--button-filter-bgc-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--button-filter-text-color);
  text-align: center;
  border-style: none;
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button__filter:hover, .button__filter:focus {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-button {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Header  */
.header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
}

/* Footer  */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: var(--footer-bg-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.work-address,
.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-address {
  color: var(--button-text-color);
}
.work-address:hover, .work-address:focus {
  color: var(--accent-color);
}

.contacts {
  color: var(--contacts-text-color);
}
.contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

/* Site nav */
.nav__site {
  margin-left: 93px;
}

.menu {
  display: flex;
}
.menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}
.menu .link.current {
  color: var(--accent-color);
}

.menu__item {
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu .hover-line::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .hover-line:hover::after {
  transform: scaleX(1);
}

/* Auth nav */
.header__connect {
  display: flex;
  margin-left: auto;
}

.connect__item + .connect__item {
  margin-left: 50px;
}

.connect__link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: var(--primary-text-color);
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: fill, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.connect__icon {
  margin-right: 10px;
}

/* Hero */
.overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(47, 48, 58);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;
}

/* Features */
.section-features {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
}
.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.features-list .item {
  width: 270px;
}
.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.item-icon {
  height: 120px;
  background-color: rgb(245, 244, 250);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Work */
.section-work {
  padding-top: 47px;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
}

.work-list .item {
  position: relative;
}
.work-list .item:not(:last-child) {
  margin-right: 30px;
}

.work-list .work-type {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.work-type-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bg-color);
}

.team-card {
  display: flex;
}

.team-card__card {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card__card:not(:last-child) {
  margin-right: 30px;
}

/* Clients */
.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-bg-color);
}

.clients-list {
  display: flex;
}
.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  width: 170px;
  height: 92px;
  outline: transparent;
  color: rgb(175, 177, 184);
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.subscribe {
  display: block;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  line-height: 1.25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  outline: transparent;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-input:focus {
  border-color: var(--accent-color);
}

/* Бекдроп */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-field__wrap {
  position: relative;
}

.modal-field__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  fill: #212121;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field__input:focus {
  border-color: var(--accent-color);
}

.modal-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.modal-field__input:focus + .modal-field__icon {
  fill: var(--accent-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-textarea {
  margin-bottom: 20px;
  height: 138px;
}

.modal-field-textarea__input {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: black;
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field-textarea__input:focus {
  border-color: var(--accent-color);
  color: black;
}
.modal-field-textarea__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-check {
  margin-bottom: 30px;
}
.modal-check__area {
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}
.modal-check__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-check__icon-cover {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check__icon-cover:hover {
  border-color: var(--accent-color);
}

.modal-check__area:focus-within + .modal-check__text .modal-check__icon-cover {
  border: 2px solid var(--accent-color);
}

.modal-check__area:checked + .modal-check__text .modal-check__icon-cover {
  background-color: var(--accent-color);
  border: none;
}

.modal-check__agreement {
  color: var(--accent-color);
}

.modal-check__icon {
  fill: transparent;
}

.card-set {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set__filter {
  margin-bottom: 50px;
}
.card-set__filter .button__filter {
  padding: 6px 22px;
  border-radius: 4px;
}

.card-set__item:not(:last-child) {
  margin-right: 8px;
}

.card-set__list {
  display: flex;
  flex-wrap: wrap;
}

.card-set__card {
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-set__card:nth-child(3n) {
  margin-right: 0px;
}
.card-set__card:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-set__work {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card-set__text {
  padding: 20px 24px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
}

.card-set__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__wrap {
  position: relative;
  overflow: hidden;
}

.card-set__wrap-text {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  /* 101% - потому-что при зуме окна в 125% видны синие линии */
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__card:hover .card-set__wrap-text, .card-set__link:focus .card-set__wrap-text {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */