@include mobile {
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}
@include tablet {
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@include desktop {
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contacts__address,
.contacts__contacts {
  font-style: normal;
  @include font(null, null, 14px, 1.71, 0.03em, null);
  @include transition(null, color, null);
}
.contacts__address {
  color: var(--button-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts__contacts {
  color: var(--contacts-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
