/* Footer  */

.footer {
  @include section(60px, 60px);
  // width: 100%;
  min-width: 480px;

  background-color: var(--footer-bg-color);

  &__container {
    @include mobile {
      display: flex;
      flex-direction: column;
    }
    @include tablet {
      display: flex;

      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
      row-gap: 60px;
    }
    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }
}

.main-footer {
  @include mobile {
    text-align: center;
    margin-bottom: 60px;
  }
  @include tablet {
    display: inline-block;
    text-align: center;
  }
}
