/* Footer  */

.footer {
  @include section(60px, 60px);
  background-color: var(--footer-bg-color);

  &__container {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      align-items: baseline;
    }
  }
}
.footer__content {
  margin-bottom: 60px;
  @include tablet {
    display: flex;
    margin-bottom: 60px;
    align-items: baseline;
    justify-content: space-around;
  }
  @include desktop {
    margin-bottom: 0px;
  }
}
.main-footer {
  text-align: center;
  margin-bottom: 60px;
  @include tablet {
    display: inline-block;
    margin-bottom: 0px;
  }
  @include desktop {
    display: inline-block;
    text-align: start;
  }
}
