/* Auth nav */
.header__connect {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 10px;
  }
  @include desktop {
    display: flex;
    margin-left: auto;
    flex-direction: row;
    gap: 0px;
    .connect__item + .connect__item {
      margin-left: 30px;
    }
  }
}

.connect__link {
  display: inline-flex;

  @include desktop {
    @include section(32px, 32px);
  }

  fill: var(--primary-text-color);
  align-items: center;

  @include font(null, 500, 14px, 1.14, 0.02em, var(--primary-text-color));

  @include transition(fill, color, null);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.connect__icon {
  margin-right: 10px;
}

.connect__link-mail {
  @media screen and (max-width: 1199px) {
    padding-top: 18px;
  }
}

.connect__link-tel {
  @media screen and (max-width: 1199px) {
    padding-bottom: 18px;
  }
}
