/* Auth nav */
.header__connect {
  display: flex;
  margin-left: auto;
}

.connect__item + .connect__item {
  margin-left: 50px;
}

.connect__link {
  display: inline-flex;
  @include section(32px, 32px);

  fill: var(--primary-text-color);
  align-items: center;

  @include font(null, 500, 14px, 1.14, 0.02em, var(--primary-text-color));

  @include transition(fill, color, null);

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.connect__icon {
  margin-right: 10px;
}
