.mob-menu-btn {
  @extend %align-items;
  margin-left: auto;
  padding: 0;

  fill: #212121;
  border: none;
  background-color: transparent;
  z-index: 2;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  & .icon-close {
    display: block;
  }
  & .icon-menu {
    display: none;
  }
  &.is-open .icon-close {
    display: none;
  }
  &.is-open .icon-menu {
    display: block;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.mob-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;

  &.is-open {
    height: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    position: fixed;
    padding: 40px 48px;
    background-color: #ffffff;
    z-index: 1;
    overflow: auto;
  }

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
.mob-menu__nav {
  display: block;
  text-align: start;
  margin-bottom: auto;
}

.mob-menu__item {
  display: block;

  text-align: start;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu__link {
  @include font(null, 500, 40px, 1.17, 0.02em, #212121);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-connect-cover {
  display: block;
}

.mob-connect__item {
  display: block;
  text-align: start;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-connect__link-tel {
  @include font(null, 500, 34px, 1.17, 0.02em, var(--accent-color));
}
.mob-connect__link-mail {
  @include font(null, 500, 24px, 1.16, 0.02em, #757575);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-connect__contacts {
  padding-top: 54px;
  margin-bottom: 64px;
}

.mob-socials {
  display: inline-flex;
  gap: 10px;
  align-items: flex-start;
}

.mob-socials__item {
  &:not(:last-child)::after {
    content: '';
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mob-socials__link {
  @include font(null, 500, 18px, 1.22, 0.02em, var(--accent-color));
}
