.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  width: 528px;
  height: 581px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  @include transition(transform, null, null);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.modal__title {
  margin-bottom: 12px;

  @include font(null, 700, 20px, 1.15, 0.03em, #212121);
  text-align: center;
}

.modal-field {
  margin-bottom: 10px;
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;

    @include font(null, null, 12px, 1.16, 0.01em, #757575);
  }
  &__wrap {
    position: relative;
  }
}

.modal-field__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  fill: #212121;

  @include transition(border, fill, null);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  .modal-field__input:focus + & {
    fill: var(--accent-color);
    @include transition(fill, null, null);
  }
}

.modal-field-textarea {
  margin-bottom: 20px;
  height: 138px;
}

.modal-field-textarea__input {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  width: 100%;

  @include font(null, null, 14px, 1.14, 0.01em, black);
  /* color: rgba(117, 117, 117, 0.5); */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  @include transition(border, color, null);

  &:focus {
    border-color: var(--accent-color);
    color: black;
  }
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-check {
  margin-bottom: 30px;
  &__area {
    box-sizing: border-box;
    bottom: 0;
    left: 0;
  }
  &__text {
    @extend %align-items;
    @include font(null, null, 14px, 1.71, 0.03em, #757575);
  }
}

.modal-check__icon-cover {
  @extend %align-items;

  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;

  @include transition(null, border-color, null);
  &:hover {
    border-color: var(--accent-color);
  }
}

.modal-check__area:focus-within + .modal-check__text .modal-check__icon-cover {
  border: 2px solid var(--accent-color);
}

.modal-check__area:checked + .modal-check__text .modal-check__icon-cover {
  background-color: var(--accent-color);
  border: none;
}
.modal-check__agreement {
  color: var(--accent-color);
}

.modal-check__icon {
  fill: transparent;
}
