/* Site nav */
.nav__site {
  margin-left: 93px;
}

.menu {
  display: flex;

  .link {
    display: block;
    @include section(32px, 32px);

    @include font(null, 500, 14px, 1.14, 0.02em, var(--title-text-color));

    @include transition(null, color, null);
  }
  .link:hover,
  .link:focus {
    color: var(--accent-color);
  }
  .link.current {
    color: var(--accent-color);
  }
}

.menu__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__item .current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.menu .hover-line::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;

  transform: scaleX(0);
  @include transition(transform, null, null);
}

.menu .hover-line:hover::after {
  transform: scaleX(1);
}
