/* Features */
.section-features {
  // min-width: 480px;
  @include section(94px, 47px);
  @media screen and (max-width: 1199px) {
    @include section(60px, 60px);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__title {
    @include font(null, 700, 14px, 1.14, 0.03em, var(--title-text-color));
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
      text-align: center;
    }

    margin-bottom: 10px;
  }
  &__text {
    @include font(null, null, 14px, 1.71, 0.03em, null);
  }
  &__icon {
    @extend %align-items;
    height: 120px;

    background-color: rgba(245, 244, 250, 1);
    border-radius: 4px;

    margin-bottom: 30px;
  }
}

.section-features__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  // width: 270px;
  // &:not(:last-child) {
  //   margin-right: 30px;
}
