/* Clients */
.section-clients {
  @include section(94px, 94px);
  background-color: var(--primary-bg-color);
  &__list {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__icon {
    fill: currentColor;
  }
}

.section-clients__link {
  width: 170px;
  height: 92px;
  @extend %align-items;

  outline: transparent;
  color: rgba(175, 177, 184, 1);
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;

  @include transition(border, color, null);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
