.subscribe {
  display: block;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-title {
  margin-bottom: 20px;

  @include font(null, 700, 14px, 1.14, 0.03em, #ffffff);
  text-transform: uppercase;
}

.subscribe-input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  line-height: 1.25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  outline: transparent;

  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @include transition(border-color, null, null);
  &:focus {
    border-color: var(--accent-color);
  }
}
