.subscribe-button {
  width: 200px;
  height: 50px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;

  @extend %align-items;
  text-align: center;
  cursor: pointer;

  @include font(null, 700, 16px, 1.88, 0.06em, #ffffff);

  background: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  @include transition(background-color, color, null);
  &:hover,
  &:focus {
    color: var(--button-text-color);
    background-color: var(--button-bg-hover-color);
  }
  &-icon {
    margin-left: 10px;
    fill: var(--button-text-color);
  }
}
