/* Логотип */
.logo {
  display: block;
  &__pre-logo {
    color: var(--accent-color);
  }
}

.main-header__logo {
  @include mobile {
    @include section(16px, 16px);
  }
  @include tablet {
    @include section(26px, 26px);
  }
  @include desktop {
    @include section(24px, 24px);
  }
}

.main-footer__logo {
  margin-bottom: 20px;
}

.logo--color-light {
  color: var(--logo-footer-text-color);
}

.logo--color-dark {
  color: var(--logo-header-text-color);
}

.logo--font {
  font-family: 'Raleway', sans-serif;
  @include mobile {
    @include font(null, 700, 24px, 1.16, 0.03em, null);
  }
  @include tablet {
    @include font(null, 700, 24px, 1.16, 0.03em, null);
  }
  @include desktop {
    @include font(null, 700, 26px, 1.19, 0.03em, null);
  }
}
