/* Section */
.section-title {
  text-align: center;

  @include font(null, 700, 28px, 1.17, 0.03em, var(--title-text-color));
  margin-bottom: 30px;

  @include tablet {
    @include font(null, 700, 28px, 1.17, 0.03em, var(--title-text-color));
    margin-bottom: 30px;
  }
  @include desktop {
    @include font(null, 700, 36px, 1.16, 0.03em, var(--title-text-color));
    margin-bottom: 50px;
  }
}
