.team-card__item {
  padding: 30px 32px;
  text-align: center;
}
.team-card__title {
  margin-bottom: 10px;

  @include font(null, 500, 16px, 1.18, 0.03em, var(--title-text-color));
}
.team-card__position {
  margin-bottom: 16px;
  @include font(null, null, 16px, 1.18, 0.03em, null);
}
